<div class="container container1">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-2">
          
          <input type="text" class="form-control" placeholder="First Name" formControlName="name"
            id="name" >
          <div class="text-danger" *ngIf="!name?.valid && (name?.dirty ||name?.touched)">
            <div [hidden]="!name.errors.required">
              First Name is required
            </div>
           
          </div>
        </div>
        
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block mb-2"
            [disabled]="!studentForm.valid">Submit</button>
        </div>

      </form>

      <div *ngIf="student">
        {{student}}
      </div>

      

     
    
</div>
